.body {
    font-family: roboto, sans-serif;
}

/*Header*/

header {
    display: flex;
    border: 3px solid red;
}

nav {
    display: flex;
    border: 3px solid purple;
}

/*Main Content*/

main{
    display: flex;
    border: 3px solid orange;
}

/*Footer*/

footer {
    display: flex;
    border: 3px solid green;
}