/*Body*/

/*TROUBLESHOOTNG*
body {
    border: 3px solid rgb(25, 0, 255);
}
/*TROUBLESHOOTNG  END*/

body {
    margin: 0 0 0 0;
    font-family: roboto, sans-serif;
    display: flex;
    flex-direction: column;
    height: 100vh;
    width: 100vw;
}

/*Body END*/


/*Header*/

/*TROUBLESHOOTING

header {
    border: 3px solid red;
}

.width-container {
    border: 3px dashed rgb(88, 2, 59);
}

.logo {
    border: 3px dashed rgb(255, 0, 170);
}

nav {
    border: 3px dashed rgb(255, 0, 170);
}

/*TROUBLESHOOTING END*/

header {
    display: flex;
    justify-content: center;
    background: #1F2937;
    color: #E5E7EB;
}

.width-container {
    display: flex;
    width: 750px;
    justify-content: space-between;
    align-items: center;
}

.logo {
    display: flex;
}

nav {
    display: flex;
}

ul {
    display: flex;
    justify-content: space-between;
    list-style: none;
    margin: 0;
    padding: 5px;
}

nav ul li a {
    color: #E5E7EB;
}

a {
    text-decoration: none;
}

/*Header END*/


/*Main Content*/

/*MAIN TROUBLESHOOTING

main {
    border: 3px solid orange;
}

.main-content {
    border: 3px solid brown;
}

.left-container {
    border: 3px solid goldenrod;
    color: white;
}

.right-container {
    border: 3px solid goldenrod;
}

section {
    border: 3px dotted violet;
}

.hero {
    border: solid red;
}

/*MAIN TROUBLESHOOTING END*/

main{
    display: flex;
    flex-direction: column;
    width: 100vw;
    /*justify-content: center;*/
    align-items: center;
}

.main-content {
    display: flex;
    justify-content: center;
}

section {
    display: flex;
    justify-content: center;
}
/*
.main-container {
    width: 750px;
}
*/
button {
    width: 100px;
    border-radius: 5px;
    padding: 5px;
}

.hero {
    display: flex;
    background: #1F2937;
    width: 100vw;
    color: #E5E7EB;
    padding: 30px;
}

.hero-content {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 750px;
    padding: 15px;
    flex-wrap: wrap;
}

.hero-button {
    border: none;
    background: #3882F6;
}

.hero-button a {
    color: #E5E7EB;
}

.left-container {
    display: flex;
    flex-direction: column;
    flex: 1 1 0;
}

.right-container {
    display: flex;
    flex-direction: column;
    flex: 1 1 0;
}

.services-container {
    display: flex;
    flex-direction: column;
    width: 750px;
    /*border: 3px solid black;*/
    align-items: center;
    justify-content: center;
    padding: 50px;
}

.service-options {
    display: flex;
}

.option-image {
    height: 150px;
    width: 150px;
    border-radius: 10%;
    border: 3px solid #3882F6;
    margin-bottom: 5px;
}

.option {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.option-text {
    text-align: center;
}

.review-section {
    display: flex;
    background: #E5E7EB;
    width: 100vw;
    justify-content: center;
    align-items: center;
}

.review-container {
    display: flex;
    width: 750px;
}

.review-text {
    display: flex;
    flex-direction: column;
    color: #1F2937;
    font-weight: 100;
    font-style: italic;
}

.review {
    display: flex;
    font-style: italic;
    font-size: 36px;
    margin-bottom: 0;
}

.citation {
    display: flex;
    justify-content: end;
    font-weight: 800;
    margin-right: 0;
}

.cta {
    width: 100vw;
    padding: 30px;
}

.cta-container {
    display: flex;
    background: #3882F6;
    color: white;
    border-radius: 2%;
    justify-content: space-evenly;
    align-items: center;
    width: 750px;
    margin: 10px;
    padding: 15px;
}

.cta-text {
    display: flex;
    flex-direction: column;
}

.cta-heading {
    margin-bottom: 0;
    font-weight: 800;
}

.cta-body {
    margin-top: 0;
}

.cta-button {
    height: 30px;
    background: #3882F6;
    border: 2px solid #E5E7EB;
}

/*Footer Content*/

/*TROUBLESHOOTING

footer {
    border: 3px solid green;
}

/*TROUBLESHOOTING END*/

footer {
    display: flex;
    width: 100vw;
    background: #1F2937;
    color: #E5E7EB;
    align-items: center;
    justify-content: center;
}

.footer-text {
    display: flex;
}

/*Footer END*/